.game-over-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  gap: var(--gap-medium);

  .game-reset-btn {
    margin-top: var(--gap-large);
    font-size: larger;
    color: var(--main-bg-color);
    background: var(--highlight-color2);
  }
}

.game-result {
  &__text {
    color: var(--alabaster);
  }

  &__symbol {
    width: var(--square-size);
    height: var(--square-size);

    .square {
      background: var(--main-bg-color);
    }

    img {
      width: 100%;
    }
  }
}
